/* .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
} */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

#landingpage .flex-row {
  display: flex; /* Mengatur .flex-row sebagai flex container */
  gap: 70px; /* Menambahkan jarak (gap) 2 di antara elemen-elemen */
  align-items: center;
}

@media screen and (max-width: 1233px) {
  #landingpage .row {
    flex-direction: column;
    align-items: center;
  }
  #landingpage .col-6 {
    width: 100%;
    align-items: center;
  }

  img {
    display: grid;
  }
}

@media screen and (max-width: 992px) {
  #navbar .desktop-component {
    display: none !important;
  }

  #navbar .mobile-component {
    display: flex !important;
  }

  #login img {
    display: none;
  }

  #login .col-6:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #login .col-6 {
    flex: 1;
  }

  #login .row {
    width: 100%;
  }

  #landingpage .col-md-6:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  #popular .row,
  #newrecipe .row,
  #popular .row {
    display: flex;
    flex-direction: column;
  }
}
