/* .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
} */

@media screen and (max-width: 992px) {
  #navbar .desktop-component {
    display: none !important;
  }

  #navbar .mobile-component {
    display: flex !important;
  }
}
